<form [formGroup]="wordForm">

  <label>
    Language:
    <select formControlName="languageCode">
      <option *ngFor="let language of languages"
              [value]="language.code">{{ language.name }}</option>
    </select>
  </label>

  <label>
    Text:
    <input formControlName="text"
           type="text"
           tabindex="1"
           #text>
  </label>

  <label>
    Plural:
    <input formControlName="plural"
           type="text">
  </label>

  <label>
    Gender:
    <select formControlName="gender"
            [disabled]="!isGenderEnabled">
      <option *ngFor="let gender of genders"
              [value]="gender.code">{{ gender.name }}</option>
    </select>
  </label>

  <label>
    Class:
    <select formControlName="class">
      <option *ngFor="let wordClass of wordClasses"
              [value]="wordClass.code">{{ wordClass.name }}</option>
    </select>
  </label>

  <!-- <ng-template connectArray
               let-index
               connectArrayOf="formTables">
    <div [ngModelGroup]="index">
      <input name="name"
             type="text"
             ngControl
             ngModel />
    </div>
  </ng-template> -->

  <button (click)="addFormTable()">Add form table</button>

  <p>Form value: {{ wordForm.value | json }}</p>

</form>