<form [connect]="path">

  <label for="languageCode">
    Language:
    <select name="languageCode"
            ngControl
            ngModel>
      <option *ngFor="let language of languages"
              [value]="language.code">{{ language.name }}</option>
    </select>
  </label>

  <label for="text">
    Text:
    <input name="text"
           type="text"
           tabindex="1"
           #text
           ngControl
           ngModel />
  </label>

  <label for="plural">
    Plural:
    <input name="plural"
           type="text"
           ngControl
           ngModel />
  </label>

  <label for="gender">
    Gender:
    <select name="gender"
            ngControl
            ngModel
            [disabled]="!isGenderEnabled">
      <option *ngFor="let gender of genders"
              [value]="gender.code">{{ gender.name }}</option>
    </select>
  </label>

  <label for="class">
    Class:
    <select name="class"
            ngControl
            ngModel>
      <option *ngFor="let wordClass of wordClasses"
              [value]="wordClass.code">{{ wordClass.name }}</option>
    </select>
  </label>

  <!-- <ng-template connectArray
               let-index
               connectArrayOf="formTables">
    <div [ngModelGroup]="index">
      <input name="name"
             type="text"
             ngControl
             ngModel />
    </div>
  </ng-template> -->

  <button (click)="addFormTable()">Add form table</button>

</form>