<div>

  <form>
    <div class="form-div">
      Front word:
      <glang-add-word #frontWord></glang-add-word>
    </div>

    <div class="form-div">
      Back word:
      <glang-add-word #backWord></glang-add-word>
    </div>

    <button (click)="addCard()"
            tabindex="1">
      Add
    </button>
  </form>

  <div *ngFor="let card of cardViewModels"
       class="card">
    {{ card.frontWord.languageCode }}/{{ card.frontWord.text }} - {{ card.backWord.languageCode }}/{{ card.backWord.text }}
  </div>

</div>