form, button, .form-div {
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  display: block;
}

.card {
  display: block;
  text-decoration: none;
  color: black;
}

.card:hover {
  background-color: beige;
}