<div>

  <div *ngFor="let word of words$ | async">
    {{ word.text }}
  </div>

  <form [connect]="['words', 'form']">
    <label for="text">
      Text:
      <input name="text"
             type="text"
             ngControl
             ngModel />
    </label>

    <select name="languageCode"
            ngControl
            ngModel>
      <option *ngFor="let language of languages"
              [value]="language.code">{{ language.name }}</option>
      <!-- <option [value]="languageCodes.English">English</option>
      <option [value]="languageCodes.Croatian">Croatian</option> -->
    </select>

    <label for="plural">
      Plural:
      <input name="plural"
             type="text"
             ngControl
             ngModel />
    </label>

    <button (click)="addWord()">Add</button>

  </form>

</div>