<div>

  <div *ngFor="let word of words$ | async">
    {{ word.text }}
  </div>

  <form [connect]="['words', 'form', 'word']">
    <label for="text">
      Text:
      <input name="text"
             type="text"
             ngControl
             ngModel />
    </label>

    <select name="languageCode"
            ngControl
            ngModel>
      <option *ngFor="let language of languages"
              [value]="language.code">{{ language.name }}</option>
    </select>

    <select name="gender"
            ngControl
            ngModel>
      <option *ngFor="let gender of genders"
              [value]="gender.code">{{ gender.name }}</option>
    </select>

    <label for="plural">
      Plural:
      <input name="plural"
             type="text"
             ngControl
             ngModel />
    </label>
  </form>

  <button (click)="addWord()">Add</button>

</div>